<h1>New Tech-Category</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Tech-Category name: </mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tech-Category description: </mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
